// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #31525B;
$light-blue: #b3dee5;
$yellow: #fae6b1;
$orange: #ffa101;
$gray: #0a0000;
$light-gray: #F4F4F4;

// new color scheme
$purple: #3B1B36;
$green: #1C874A;
$magenta: #B35686;
$almond: #FBE0C5;
$seashell: #FDF5ED;
