<h1>Recipes#index</h1>

<div data-controller="search-form">
  <%= form_with url: recipes_path, method: :get, data: { action: "turbo:submit-end->search-form#search" } do |f| %>
    <div class="form-group">
      <%= f.label :query, "Ingredients" %>
      <%= f.text_field :query, class: "form-control", data: { target: "search-form.query" } %>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  <% end %>
</div>

<div data-controller="search-results">
  <h2>Search Results</h2>
  <ul data-target="search-results.list">
    <% @recipes.each do |recipe| %>
      <li>
        <%= link_to recipe.title, recipe %>
      </li>
    <% end %>
  </ul>
</div>
