<div class="profile-container">
  <div class="banner">
      <h2><%= link_to "Bookmarks", profile_bookmarks_path %></h2>
      <h2><%= link_to "My Pantry", profile_ingredients_path %></h2>
      <h2><%= link_to "Friends", profile_friends_path %></h2>
  </div>
</div>
