// might need editing on other screens
.homepage-banner {
	padding: 0;
	height: 420px;
	width: 100vw;
	position: relative;
	background-image: url("homepage-banner.jpg");
	margin-bottom: 10px;
	background-size: cover;
  background-position: center;

  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 40px;
    left: 334px;
    text-align: center;
  }

  #h1-first-line::after {
    content: "\a";
    white-space: pre;
  }
}

.profile-banner {
	padding-top: 32px;
	padding-bottom: 32px;

  h2 {
    padding: 0;
    font-size: 32px;
    font-weight: bold;
    margin: 10px;
    margin-left: 0;
  }

  a {
    text-decoration: none;
    color: $purple;
  }

  a:hover {
    color: $magenta;
    cursor: pointer;
  }
}

// affects text in the profile pages banners
#header-pink {
  color: $magenta;
}
