// pink button
.form-btn-magenta {
  background-color: $magenta;
  border-radius: 50rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid $magenta;
  display: block;

  &:hover {
    background-color: rgba($magenta, 0.9);
  }

  a {
    text-decoration: none;
    color: $white;
  }
}

// green button
.form-btn-green {
  background-color: $green;
  border-radius: 4px;
  padding: 0.3rem 0.5rem;
  border: 1px solid $green;
  display: block;
  color: $white;
  margin-top: 1rem;

  &:hover {
    background-color: rgba($green, 0.9);
  }
}

.sort-buttons-container {
  padding: 2vh;
  position: relative;
  margin: 0 auto 20px auto;
  width: fit-content;
}


.sort-buttons-container {

  button{
    padding: 0.9em 1.8em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    color: transparent;
    border: 3px solid #ff0;
    font-size: 14px;
    position: relative;
    font-family: inherit;
    background: transparent;

    &:before {
      // content: "button";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background-color: #363636;
      color: #ff0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s;
    }

    &:hover::before {
      left: 100%;
      transform: scale(0) rotateY(360deg);
      opacity: 0;
    }

    &:after {
      content: "button";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #363636;
      color: #ff0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s;
      transform: scale(0) rotateY(0deg);
      opacity: 0;
    }

    &:hover::after {
      left: 0;
      transform: scale(1) rotateY(360deg);
      opacity: 1;
    }
  }
}
