// pink button
.form-btn-magenta {
  background-color: $magenta;
  border-radius: 50rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid $magenta;
  display: block;

  &:hover {
    background-color: rgba($magenta, 0.9);
  }

  a {
    text-decoration: none;
    color: $white;
  }
}

// green button
.form-btn-green {
  background-color: $green;
  border-radius: 4px;
  padding: 0.3rem 0.5rem;
  border: 1px solid $green;
  display: block;
  color: $white;
  margin-top: 1rem;

  &:hover {
    background-color: rgba($green, 0.9);
  }
}

.sort-buttons-container {
  padding: 2vh;
  position: relative;
  margin: 0 auto 20px auto;
  width: fit-content;
}
