// add friend button
.btn-purple {
  background-color: $purple;
  border-radius: 15px;
  padding: 0.2rem 0.5rem;
  color: white;
  font-size: 0.9em;
  border: 1.5px solid $magenta;
  margin-top: 0.8rem;

  &:hover {
		background-color: rgba($purple, 0.9);
	}
}

.sort-buttons-container {
	padding: 2vh;
	position: relative;
	margin: 0 auto 20px auto;
	width: fit-content;
}

.sort-buttons-container button {
  padding: 8px 18px;
  height: 2.5rem;
  border-radius: 10px;
  border: 0;
  background-color: $magenta;
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all .3s ease;
  box-shadow: #8f446b 0px 5px 0px 0px;
  color: hsl(0, 0%, 100%);

    &:hover {
      box-shadow: #8f446b 0px 7px 0px 0px;
    }

    &:active {
      /*50, 168, 80*/
      box-shadow: #8f446b 0px 0px 0px 0px;
      transform: translateY(2px);
      transition: 200ms;
    }
}

.chat-button {
  padding: 8px 18px;
  height: 2.5rem;
  border-radius: 10px;
  border: 0;
  background-color: $purple;
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all .3s ease;
  box-shadow: #2f152b 0px 5px 0px 0px;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  margin-left: 3.5rem;

  &:hover {
    box-shadow: #2f152b 0px 7px 0px 0px;
    text-decoration: none;
    color: white;
  }

  &:active {
    /*50, 168, 80*/
    box-shadow: #2f152b 0px 0px 0px 0px;
    transform: translateY(2px);
    transition: 200ms;
  }

}
