// leave a comment styling

#comment-submission {
  background-color: white;
  padding: 1.5rem;
  margin-bottom: 3rem;
  width: 40vw;
  box-shadow: 3px 3px 10px rgba(209, 190, 160, 0.5);
  border-radius: 8px;

  h3 {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  [type="submit"] {
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 4px 12px;
    height: 2.5rem;
    border-radius: 10px;
    border: 0;
    background-color: $magenta;
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .3s ease;
    box-shadow: #8f446b 0px 5px 0px 0px;
    color: hsl(0, 0%, 100%);

      &:hover {
        box-shadow: #8f446b 0px 7px 0px 0px;
      }

      &:active {
        /*50, 168, 80*/
        box-shadow: #8f446b 0px 0px 0px 0px;
        transform: translateY(2px);
        transition: 200ms;
      }
  }

  textarea {
    padding: 10px;
    margin-top: 1.7rem;
    margin-left: 1rem;
    inline-size: 32vw;
    height: 8rem;
    overflow-wrap: break-word;
  }
}

.gl-star-rating {
  margin-left: 1rem;
}

.single-star {
	height: 20px;
	margin: 0 -0.11em;
}

// comments styling
#comments {
  margin-bottom: 10px;
}

#comments-flex {
  display: flex;
  flex-wrap: wrap;
}

#flex-left {
  flex: 1;

  p:nth-child(2) {
    margin-bottom: 4px;
  }

  p:nth-child(3) {
    font-size: 0.9em;
    margin-bottom: 0;
  }
}

#flex-middle {
  flex: 5;

  p {
    margin-top: 20px;
  }
}

#comments-icons {
  text-align: right;
  margin-right: 5rem;
  margin-bottom: 0.5rem;

  a {
    text-decoration: none;
  }

  i {
    color: black;
  }
}

#invite-sent {
  font-size: 0.9em;
  opacity: 0.9;
  padding: 0.2rem 0.5rem;
  border-radius: 15px;
  background-color: rgba($magenta, 0.2);
  display: inline-block;
  margin-top: 0.8rem;
  margin-bottom: 0;
}

.reviews hr {
  color: $magenta;
  width: 80%;
  margin: 20px 185px;

  &:last-child {
    display: none;
  }
}
