.form {
	font-family: $body-font;
}

.form input {
	font-family: $body-font;
}

.form textarea {
	font-family: $body-font;
}

.form select {
	font-family: $body-font;
}

.form button {
	font-family: $body-font;
}

.form label {
	font-family: $body-font;
}

.form h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headers-font;
}

.form .btn {
	font-family: $body-font;
}

.headers-center {
	text-align: center;
}

.checkboxes input[type="checkbox"],
label {
	font-family: $body-font;
	margin-right: 10px;
}
