// styling for dropdown option buttons/tags

#homepage-form input[type="checkbox"] {
	position: absolute;
	transform: scale(0);

	+ label {
		cursor: pointer;
		background-color: rgba($magenta, 0.9);
		border-radius: 50rem;
		padding: 0.2rem 0.5rem;
		border: 1px solid rgba($magenta, 0.9);
		color: white;
	}

	+ label:hover {
		background-color: rgba($magenta, 0.8);
	}

	&:checked + label {
		cursor: pointer;
		background-color: $magenta;
		border: 2px solid rgba(59, 27, 54, 0.8);
		color: $white;
		box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
	}
}

#homepage-form input[type="text"] {
	padding: 0.5rem;
	border: 0;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

#btn-ingredients {
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0.2rem 0.5rem;
	text-decoration: none;
	color: rgba(59, 27, 54, 0.8);

	&:hover {
		background-color: rgba(251, 235, 218, 0.5);
		border-radius: 4px;
		padding: 0.4rem 0.5rem;
	}
}

.fa-plus {
	color: $purple;
	margin-left: 0.3rem;
}

/* Recipe index page form */

.form-container{
  right:20vw;
  left:20vw;
  padding: 20px;
  background-color: rgba($seashell, 0.35); // check with ale
  border-radius: 10px;
  position: absolute;
  top: 116px;
}

.submit input {
	margin-top: 2px;
}

.collapsible {
  cursor: pointer;
  width: 22.3rem;
  height: 2.5rem;
  border: none;
  text-align: left;
  outline: none;
  padding: 10px 40px;
  height: 4.5vh;
  border-radius: 10px;
  border: 0;
  background-color: $purple;
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all .3s ease;
  box-shadow: $magenta 0px 5px 0px 0px;
  color: hsl(0, 0%, 100%);
  margin-bottom: 15px;

    &:hover {
      box-shadow: #ef057e  0px 7px 0px 0px;
    }

    &:active {
      background-color: #b94a83;
      /*50, 168, 80*/
      box-shadow: rgb(189, 28, 63) 0px 0px 0px 0px;
      transform: translateY(2px);
      transition: 200ms;
    }
}


.active,
.collapsible:hover {
	background-color: rgba($purple, 0.8);
}

.content {
	width: 25vw; // edit
	display: none;
	overflow: hidden;
	background-color: transparent;

	label {
		margin: 5px;
	}
}

.collapsible:after {
	content: "\02795"; /* Unicode character for "plus" sign (+) */
	font-size: 13px;
	color: white;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.dropdowns {
	display: flex;
	justify-content: center;
}

.drop-menu {
	margin: 8px;
  margin-bottom: 0;
}

.text-box {
	width: 100%;
	text-align: center;

	input {
		width: 100%;
		height: 3rem;
		background-color: white;
		border-radius: 8px;
	}
}

.submit {
	display: flex;
	width: 100%;
	justify-content: center;

	input {
		margin-top: 2px;
	}

	input[type="submit"] {
		position: relative;
		top: 0;
		width: 70%;
		border-radius: 8px;
	}
}

.pantry-btn {
	margin-top: 4px;
	font-weight: 600;
	font-size: 16px;
	font-size: 16;
	color: rgba(59, 27, 54, 0.8);
}


/* Submit button here just for time reasons*/

.submit-button, .sort-buttons-container button{
  padding-top: 0.4rem 0 0.3rem 0;
  border-radius: 10px;
  border: 0;
  background-color: rgb(255, 56, 86);
  letter-spacing: 1.5px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  transition: all .3s ease;
  box-shadow: #c92e46 0 0.3rem 0 0;
  color: hsl(0, 0%, 100%);
  text-decoration: none;

    &:hover {
    box-shadow: rgb(201, 46, 70) 0px 0.2rem 0px 0px;
    }

    &:active {
    background-color: rgb(255, 56, 86);
    /*50, 168, 80*/
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
    }
 }

 .sort-buttons-container button {
  padding: 0.5rem;
 }
