// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "banner";
@import "button";
@import "card";
@import "chatroom";
@import "comments";
@import "container";
@import "footer";
@import "form_legend_clear";
@import "friend_form";
@import "homepage_form";
@import "navbar";
@import "profile_bookmark_page";
@import "recipe_show";


html {
  overflow-x: hidden
}

body {
  background-color: $seashell;
  min-height: 120vh;
	display: flex;
	flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headers-font;
}
