// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "chatroom";
@import "form_legend_clear";
@import "navbar";
@import "footer";
@import "recipe";
@import "profile_banner";
@import "friend_form";
@import "homepage_form";
@import "button";
@import "recipe_show";

body {
  background-color: $seashell;
}

.pages-container {
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}
