// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "chatroom";
@import "form_legend_clear";
@import "navbar";
@import "footer";
@import "recipe_card";
@import "profile_banner";
@import "friend_form";
@import "homepage_form";
@import "button";
@import "recipe_show";
@import "banner";

html {
  overflow-x: hidden
}

body {
  background-color: $seashell;
  min-height: 120vh;
	display: flex;
	flex-direction: column;
}

.pages-container {
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headers-font;
}
