.navbar-lewagon {
	height: 90px;
	justify-content: space-between;
	background: $purple;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    border-radius: 50%;
    width: 40px;
  }
}

.nav-link {
	color: $almond;

  &:hover {
    color: $seashell;
  }
}

.photo {
	border-radius: 50%;
	width: 40px;
}

#front-logo {
  width: 255px;
  // margin-top: 5px;
  // margin-bottom: 5px;
}

#round-logo {
  width: 90px;
}
