.navbar-lewagon {
	height: 90px;
	justify-content: space-between;
	background: $purple;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    border-radius: 50%;
    width: 40px;
  }
}

.nav-link {
	color: white;
  margin-top: 8px;

  &:hover {
    color: $magenta;
  }

  .avatar-bordered {
    margin-top: 8px;
  }
}

#front-logo {
  width: 400px;
  height: auto;
  margin-top: 13px;
  // margin-bottom: 5px;
}

#round-logo {
  width: 110px;
  margin-top: 0px;
}
