.navbar-lewagon {
	height: 80px;
	justify-content: space-between;
	background: $purple;
	color: white;
}

.nav-link {
	color: white;

  &:hover {
    color: rgb(255, 255, 255);
  }
}

.navbar-lewagon .navbar-collapse {
	flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
	border-radius: 50%;
	width: 40px;
}

.photo {
	border-radius: 50%;
	width: 40px;
}
