.fa-bookmark {
	font-size: 2.4rem;
	color: $magenta;
}

.btn-bookmark {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
}

#friends-ingredients {
	background-color: $almond;
	padding: 0.2rem;
	border-radius: 4px;
}

#recipe-image {
	position: relative;
}

// For show page's ingredients and method
.recipe-details {
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin-top: 8px;
	margin-bottom: 32px;
	padding: 16px;
	border-radius: 4px;
}

.ingredients {
	margin-top: 16px;
	border-right: solid 1px $gray-200;
	padding-left: 32px;

	ul {
		padding-left: 0;
		margin-left: 0;
	}

	li {
		list-style: none;
		padding-left: 0;
		margin-left: 0;
		padding-bottom: 12px;
	}
}

.method {
	margin-top: 16px;
	padding-left: 32px;
	padding-right: 32px;
}

// For star ratings
.single-star {
	height: 20px;
	margin: 0 -0.11em;
}

// .button {
// 	/* Variables */
// 	--button_radius: 0.75em;
// 	--button_color: #e8e8e8;
// 	--button_outline_color: #000000;
// 	font-size: 17px;
// 	font-weight: bold;
// 	border: none;
// 	border-radius: var(--button_radius);
// 	background: var(--button_outline_color);
// }

// .chat {
// 	/* Variables */
// 	--button_radius: 0.75em;
// 	--button_color: #e8e8e8;
// 	--button_outline_color: #000000;
// 	font-size: 17px;
// 	font-weight: bold;
// 	border: none;
// 	border-radius: var(--button_radius);
// 	background: var(--button_outline_color);
// 	width: 7rem;
// }

// .chat-button {
// 	display: block;
// 	box-sizing: border-box;
// 	border: 2px solid var(--button_outline_color);
// 	border-radius: var(--button_radius);
// 	padding: 0.75em 1.5em;
// 	background: var(--button_color);
// 	color: var(--button_outline_color);
// 	transform: translateY(-0.2em);
// 	transition: transform 0.1s ease;
// 	text-align: center;
// 	text-decoration: none;
// 	width: 7rem;
// }

// .chat:hover .chat-button {
// 	/* Pull the button upwards when hovered */
// 	transform: translateY(-0.33em);
// }

// .chat:active .chat-button {
// 	/* Push the button downwards when pressed */
// 	transform: translateY(0);
// }

.chat-button {
  padding: 8px 18px;
  height: 2.5rem;
  border-radius: 10px;
  border: 0;
  background-color: $purple;
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all .3s ease;
  box-shadow: #2f152b 0px 5px 0px 0px;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  margin-left: 3.5rem;

  &:hover {
    box-shadow: #2f152b 0px 7px 0px 0px;
    text-decoration: none;
    color: white;
  }

  &:active {
    /*50, 168, 80*/
    box-shadow: #2f152b 0px 0px 0px 0px;
    transform: translateY(2px);
    transition: 200ms;
  }

}

.bookmarks {
	position: absolute;
	top: 0px;
	left: 520px;
}

.chat-to-friends {
	margin-top: 28px;
	margin-left: 18px;
}

.friends {
	margin-top: 42px;
}

.ingredient-format {
	font-weight: bold;
	margin-right: 4px;
}

.diet {
  display: flex;
  margin-right: 0;

  img {
    margin-right: 18px;
    margin-top: 16px;
    margin-left: 8px;
  }
}

.diet-serving-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  width: 34rem;
}

.serving, .time  {
  margin-top: 24px;
  text-align: right;
}

.serving-time {
  display: flex;
}

.serving {
  margin-right: 20px;
}

.fa-users, .fa-clock {
  font-size: 1.6rem;
}
