.fa-bookmark {
  font-size: 2.4rem;
  margin-top: 10px; // for visual purposes during testing
  color: $magenta;
}

.btn-bookmark {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

#friends-ingredients {
  background-color: $almond;
  padding: 0.2rem;
  border-radius: 4px;
}

#recipe-image {
  border-radius: 8px;
  box-shadow: 5px 5px $almond;
}

// For show page's ingredients and method
.recipe-details {
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin-top: 8px;
	margin-bottom: 32px;
	padding: 16px;
	border-radius: 4px;
}

.ingredients {
	margin-top: 16px;
	border-right: solid 1px $gray-200;
	padding-left: 32px;

  ul {
    padding-left: 0;
    margin-left: 0;
  }

  li {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    padding-bottom: 12px;
  }
}

.method {
	margin-top: 16px;
	padding-left: 32px;
	padding-right: 32px;
}

// For star ratings
.star-rating {
  display: inline-block;
  font-size: 0;
}

.star {
  width: 1em;
  height: 1em;
  margin: 0 0.1em;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
}

.star.active {
  background-color: yellow;
}

.single-star {
  height: 24px;
  margin: 0 -0.11em;
