.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 16px;
	padding-right: 16px;
	padding-left: 24px;
	margin-bottom: 16px;
}

.card-trip {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	align-self: center;
	background: rgb(255, 255, 255);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	width: 18rem;
	border-radius: 4px;
	font-family: $body-font;
}

.card-trip img {
	height: 150px;
	width: 85%;
	object-fit: cover;
	border-radius: 4px;
	margin: 8px auto;
	margin-top: 16px;
	display: block;
}

.card-trip-infos {
	text-align: center;
	opacity: 0.8;
	margin: 0;
}

.card-trip-infos > p > a {
	font-family: $body-font;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	color: black;
	opacity: 0.9;
}

.card-trip .card-trip-infos {
	padding: 10px;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

.text-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: $body-font;
	font-size: 16px;
	margin-left: 8px;
	margin-right: 8px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 0 0 4px 4px;
}

.text-bottom-left {
	display: flex;
	margin-left: 8px;
	margin-right: 4px;
	justify-content: space-between;
}

.text-bottom-right {
	margin-left: auto;
	margin-right: 8px;
}

.delete-button {
	align-self: center;
	width: 75%;
	margin-bottom: 16px;
	background-color: $red;
	border: none;
	text-align: center;
	border-radius: 5px;
	color: black;
}
